@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
/*---------------------------------------/*
  # SETTINGS
/*---------------------------------------*/
/*---------------------------------------/*
  # GENERIC
/*---------------------------------------*/
/*---------------------------------------/*
  # ELEMENTS
/*---------------------------------------*/
body {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
}

h1 {
  font-size: 3rem;
  background-color: black;
  color: #eee;
}

/*---------------------------------------/*
  # OBJECTS
/*---------------------------------------*/
/*---------------------------------------/*
  # COMPONENTS
/*---------------------------------------*/
.c-logo {
  width: 3rem;
  transition: fill 0.3s ease-in-out;
}
.c-logo:hover {
  fill: rgb(238, 214, 0);
}

@media (max-width: 767px) {
  .c-nav {
    justify-content: center;
    flex-wrap: wrap;
  }
}
.c-nav__link {
  color: rgb(250, 250, 250);
  text-decoration: none;
}
.c-nav__link:hover {
  color: rgb(238, 214, 0);
}

.c-banner {
  font-size: 3rem;
  color: rgb(250, 250, 250);
  background: url(../img/Rainbow-6-Seige-1080-Main.webp) no-repeat center center;
  background-size: cover;
}
.c-banner h1 {
  margin: 13rem 0 10rem;
}

.c-features__icon {
  font-size: 5rem;
}

.c-showcase__img {
  max-height: 24rem;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.c-testimonial {
  background-color: #eee;
  padding: 5rem 0;
}
.c-testimonial__img {
  max-width: 15rem;
  border-radius: 50%;
  box-shadow: 0 5px 5px 0 rgba(128, 128, 128, 0.5);
}

.c-footer {
  background-color: rgb(64, 64, 64);
  color: #eee;
}

/*---------------------------------------/*
  # UTILITIES
/*---------------------------------------*/